.agents/
auto-save-list/
%backup%~
backups/
bookmarks
.cache/
CLAUDE.md
.codex
.cz.toml
dirvish/
*.eask/
*ellama*
eln-cache
elpa/
elpaca/
.emacs.d-autoloads.el
emacs-mcp-stdio.sh
emms
.env
.en-var
.envrc
eshell
etc/*
!etc/sly-setup.lisp
!etc/tools/
!etc/templates
forge-database.sqlite
*ghostel
history
ielm-history.eld
.lsp-session-v1
mason
.org-generic-id-locations
.org-id-locations
persist/
.pre-commit-config.yaml
projectile-bookmarks.eld
.projectile-cache.eld
*projects*
recentf*
.rumdl_cache
savefold/
.serena
TODO.org
tramp*
transient/
tree-sitter/
tutorial/
url/
.vale-styles/
var/
.vscode/
wip/