auto-save-list/
**/auto-saves/
%backup%~
backups/
.cache/
.dap-breakpoints
**.eask/
eln-cache/
elpa/
elpaca/
.elsa/
.emacs.d-autoloads.el
emms
.env
forge-database.sqlite
history
ielm-history.eld
.lsp-session-v1
.org-generic-id-locations
projectile-bookmarks.eld
.projectile-cache.eld
**projects
qq
recentf**
straight/
tramp**
transient/
tree-sitter/
tutorial/
url/
user-lisp-configuration/custom.el
.vscode/
wip/