auto-save-list/
%backup%~
backups/
bookmarks
.cache/
.cz.toml
*.eask/
eln-cache
elpa/
.envrc
etc/*
!etc/tools
!etc/templates
.pre-commit-config.yaml
savefold/
temporary
TODO.org
tramp*
tree-sitter/
.vale-styles/
var
wip/