[Unit]
Description=Emacs daemon (Wayland PGTK)
After=import-env.service
Requires=import-env.service
ConditionEnvironment=XDG_SESSION_TYPE=wayland

[Service]
Type=forking
ExecStart=/usr/local/emacs-pgtk/bin/emacs --daemon
ExecStop=/usr/local/emacs-pgtk/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
